agno==1.2.6
realtimestt==0.3.100

googlesearch-python
pycountry
wikipedia
arxiv
pypdf==5.4.0
ollama
misaki
num2words
spacy
scipy

phonemizer-fork==3.3.1
onnxruntime>=1.20.1
espeakng-loader>=0.2.4
colorlog>=6.9.0
sounddevice>=0.5.1
soundfile>=0.13.0